h1 {


color: green;


font-weight: bold;


text-align: center;


}


td, th {




   border: 2px solid black;



  


}







table {


   border-collapse: collapse;


   width: 650px;


   margin: auto;
   
  font-family: Verdana;
   
   padding: 8px 0px 8px 0px;


  


}







th {


   height: 30px;
   width:20%;
   background-color:yellow;


}






td {


text-align: center;


border-style: dotted;


border-color: blue;


}


.blue {


color: blue;


}







.red {


color: red;


}
